[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = "==3.11.14"
dependencies = [
    "matplotlib>=3.10.7",
    "pandas>=2.3.3",
    "pydantic>=2.12.5",
    "scipy>=1.16.3",
]
